.review {
  display: inline-block;
}

.review--header {
  margin-top: 1.8rem;
}

.review--rate__text {
  font-size: 1.8rem;
  font-weight: 300;
  margin-right: 1rem;
}

.review--divider {
  margin: 1.8rem 0 1.5rem;
  border: none;
  border-top: 1px solid #b9b9b9;
}
