@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.2rem solid #797874;
  border-top-color: var(--color-text-gray);
  border-right-color: var(--color-text-gray);
  animation: spin 1s linear infinite;
}
